* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
  padding-top: 50px;
}
.header {
  padding: 20px;
}
.header ul {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}
.header ul li {
  width: 22%;
  background: #333;
  color : #fff;
  border-radius: 6px;
  padding: 10px;
}
.content table {
  border-collapse: collapse;
  border-top: 3px solid #333;
  width: 100%;
}
.content table td, .content table th {
  line-height: 40px;
  border-bottom: 1px solid #333;
}

